.button {  
			width       : 60px;
			text-align  : center;
            font-family : System,sans-serif;
            font-size   : 100%;
		}
		
.affiche { 
			width       : 100%; 
			text-align  : right;
            font-family : System,sans-serif;
            font-size   : 100%; 
		}
		
p{text-align:center;}

h1{text-align:center;}